@model Carrents_web.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tot_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tot_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
